@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-very-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: var(--clr-very-light-gray);
}

.container {
  padding: 2rem 0;
  max-width: 85%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero {
  text-align: center;
  margin-bottom: 4rem;
}

.hero h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--clr-very-dark-blue);
}

.hero h1 span {
  font-size: 1.5rem;
  font-weight: 200;
}

.hero p {
  color: var(--clr-grayish-blue);
}

.card {
  margin-bottom: 1.5625rem;
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.25);
}

.card h2 {
  color: var(--clr-very-dark-blue);
  margin-bottom: 0.625rem;
}

.card p {
  margin-bottom: 2.5rem;
  color: var(--clr-grayish-blue);
}

.card img {
  max-width: 100%;
  align-self: flex-end;
}

.card:nth-child(1) {
  border-top: 4px solid var(--clr-cyan);
}
.card:nth-child(2) {
  border-top: 4px solid var(--clr-red);
}
.card:nth-child(3) {
  border-top: 4px solid var(--clr-orange);
}
.card:nth-child(4) {
  border-top: 4px solid var(--clr-blue);
}

@media (min-width: 1024px) {
  .hero h1,
  .hero h1 span {
    font-size: 2rem;
  }

  .hero p {
    max-width: 60%;
    margin: 0 auto;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 110px);
    gap: 30px;
  }

  .card {
    margin-bottom: 0;
    height: 100%;
  }

  .card:nth-child(1) {
    border-top: 4px solid var(--clr-cyan);
    grid-row: 2/4;
  }
  .card:nth-child(2) {
    border-top: 4px solid var(--clr-red);
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .card:nth-child(3) {
    border-top: 4px solid var(--clr-orange);
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .card:nth-child(4) {
    border-top: 4px solid var(--clr-blue);
    grid-column: 3/4;
    grid-row: 2/4;
  }
}

@media (min-width: 1130px) {
  .container {
    max-width: 1110px;
  }
}
